@import 'colors';

//text

$textPrimary: $blackMain;
$textSecondary: $black300;
$textDisabled: $black400;

$textAccent: $prplMain;
$textAccentHover: $prpl700;
$textAccentActive: $prpl800;
$textAccentSubdued: $prpl100;
$textAccentSubduedHover: $prpl200;
$textAccentSubduedActive: $prpl300;

$textCritical: $redMain;
$textCriticalHover: $red700;
$textCriticalActive: $red800;

$textCaution: $orangeMain;
$textCautionHover: $orange700;
$textCautionActive: $orange800;

$textSuccess: $greenMain;
$textSuccessHover: $green700;
$textSuccessActive: $green800;

$textPrimaryInverse: $whiteMain;
$textPrimaryOnColor: $whiteMain;

//icon

$iconPrimary: $blackMain;
$iconSecondary: $black300;
$iconDisabled: $black400;

$iconAccent: $prplMain;
$iconAccentHover: $prpl700;
$iconAccentActive: $prpl800;
$iconAccentSubdued: $prpl100;
$iconAccentSubduedHover: $prpl200;
$iconAccentSubduedActive: $prpl300;

$iconCritical: $redMain;
$iconCriticalHover: $red700;
$iconCriticalActive: $red800;

$iconCaution: $orangeMain;
$iconCautionHover: $orange700;
$iconCautionActive: $orange800;

$iconSuccess: $greenMain;
$iconSuccessHover: $green700;
$iconSuccessActive: $green800;

$iconPrimaryInverse: $whiteMain;
$iconPrimaryOnColor: $whiteMain;

//background

$backgroundPrimary: $whiteMain;
$backgroundSecondary: $black100;
$backgroundSecondaryHover: $black200;
$backgroundSecondaryActive: $black300;
$backgroundSecondaryDisabled: $black200;

$backgroundAccent: $prplMain;
$backgroundAccentHover: $prpl700;
$backgroundAccentActive: $prpl800;
$backgroundAccentSubdued: $prpl100;
$backgroundAccentSubduedHover: $prpl200;
$backgroundAccentSubduedActive: $prpl300;

$backgroundCritical: $redMain;
$backgroundCriticalHover: $red700;
$backgroundCriticalActive: $red800;
$backgroundCriticalSubdued: $red100;
$backgroundCriticalSubduedHover: $red200;
$backgroundCriticalSubduedActive: $red300;

//border

$borderPrimary: $black300;
$borderSecondary: $black100;
$borderFocus: $blackMain;
$borderAccent: $prplMain;
$borderAccentHover: $prpl700;
$borderAccentActive: $prpl800;
$borderCritical: $redMain;
