$fontFamilyMain: 'Inter', 'Arial', sans-serif;

$fontH1: 700 #{30px} / #{120%} $fontFamilyMain;
$fontH2: 700 #{32px} / #{120%} $fontFamilyMain;
$fontH3: 700 #{24px} / #{120%} $fontFamilyMain;
$fontH4: 700 #{18px} / #{120%} $fontFamilyMain;
$fontH5: 700 #{16px} / #{120%} $fontFamilyMain;
$fontH6: 700 #{14px} / #{120%} $fontFamilyMain;
$fontH7: 700 #{12px} / #{120%} $fontFamilyMain;
$fontH8: 700 #{10px} / #{120%} $fontFamilyMain;

$fontP1: 500 #{24px} / #{120%} $fontFamilyMain;
$fontP2: 500 #{18px} / #{120%} $fontFamilyMain;
$fontP3: 500 #{16px} / #{120%} $fontFamilyMain;
$fontP4: 400 #{16px} / #{120%} $fontFamilyMain;
$fontP5: 500 #{14px} / #{120%} $fontFamilyMain;
$fontP6: 400 #{14px} / #{120%} $fontFamilyMain;
$fontP7: 500 #{12px} / #{120%} $fontFamilyMain;
$fontP8: 400 #{12px} / #{120%} $fontFamilyMain;
$fontP9: 500 #{10px} / #{120%} $fontFamilyMain;
$fontP10: 400 #{10px} / #{120%} $fontFamilyMain;