@use '../../../ui-kit/colors'  as *;
@use '../../../ui-kit/radius' as *;
@use '../../../ui-kit/typography' as *;

.label {
    display: flex;
    align-items: center;
    cursor: pointer;
    padding-left: 1.5em;
    margin: 10px;
    font: $fontP3;
}

.input {
    display: none;
}

.check__input{
    position: absolute;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.check__box{
    margin-left: -2.2em;
    position: absolute;
    width: 28px;
    height: 28px;
    background-color: $whiteMain;
    background-image: url('../images/minus.svg');
    border-radius: $border-radius6;
    border: 2px solid $prplMain;
    cursor: pointer;
}

.check__input:checked + .check__box {
    background-color: $whiteMain;
    background-image: url('../images/check.svg');
}